@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 11px;

  /* color variables */
  --lightgray: #d9d9d9;
  --gray: #2b3137;
  --darkgray: #24292e;
  --lightblue: #455464;

  --date-height: 25px;
  --card-title-height: 35px;
  --item-container-side-margin: 5px;
  --item-container-top-margin: 20px;
}

body {
  background-color: var(--gray);
  color: var(--lightgray);

  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
  font-family: roboto, arial;
  letter-spacing: 1px;
}

div.content-section {
  display: grid;
  grid-template-rows: 70px 1fr;
}

h2 {
  /* border: 1px soslid red; */
  font-size: 2.4rem;
  padding: 20px 0 0 30px;
}

main {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  /* line below not working. Need to put a max height on the first row.
   */
  grid-template-rows: 300px 4fr;
  grid-template-areas:
    "task-requests upcoming-tasks open-projects"
    "scratch-pad upcoming-tasks open-projects";
  padding: 10px 30px 30px 30px;
  gap: 30px;
}

article.card {
  /* border: 1px solid red; */
  overflow: hidden;
}

.item-container {
  scrollbar-color: var(--gray) var(--darkgray);
  scrollbar-width: thin;
}

aside {
  background: var(--darkgray);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-top: 10px;
}

.nav-icons > * {
  margin-top: 10px;
}

h1 {
  transform: rotate(-90deg) translateX(50%);
  font-size: 2.4rem;
  /* border: 1px solid red; */
  white-space: nowrap;
  margin-top: auto;
}

h3 {
  height: var(--card-title-height);
  padding: 15px;
  /* border: 1px solid red; */
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

i {
  font-size: 2rem;
  color: var(--lightgray);
}

button.side-icon {
  padding: 6px;
  background-color: var(--darkgray);
  border: none;
  border-radius: 5px;
}

button.side-icon:hover {
  background-color: var(--lightblue);
  transition: 150ms;
}

.accept-button {
  height: 20px;
  background-color: var(--darkgray);
  color: var(--lightgray);
  font: inherit;
  border: 1px solid var(--lightblue);
  border-radius: 5px;
  letter-spacing: 0.75px;
}

.accept-button:hover {
  background-color: var(--lightblue);
  transition: 150ms;
}

li {
  list-style: none;
}

.card {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 50%);
}

.card,
.item-container {
  background-color: var(--darkgray);
  border: 1px solid var(--lightblue);
  border-radius: 10px;
}

.item-container {
  margin: var(--item-container-side-margin);
  margin-top: var(--item-container-top-margin);
  height: calc(100% - var(--card-title-height) - var(--item-container-side-margin) - var(--item-container-top-margin));
  display: grid;
  grid-template-columns: 1fr 75px 50px;
  grid-template-rows: 25px;
  grid-auto-rows: 40px;
  column-gap: 10px;
  padding: 10px;
  overflow: auto;
}

#scratch-pad-card > .item-container {
  border: 1px solid var(--darkgray);
}

#scratch-pad-card > textarea:hover {
  border-color: var(--lightblue);
  transition: 100ms;
}

#scratch-pad-card > textarea:focus {
  outline: none;
  border-color: var(--lightblue);
  background-color: var(--gray);
  transition: 25ms;
}

textarea {
  width: calc(100% - var(--item-container-side-margin) - var(--item-container-side-margin));
  resize: none;
  font: inherit;
  color: var(--lightgray);
  letter-spacing: 1px;
}

.task-request-header,
.upcoming-task-header {
  color: var(--lightblue);
}

.task-project {
  color: var(--lightblue);
  margin-top: 2px;
}

#task-request-card {
  grid-area: task-requests;
}
#upcoming-tasks-card {
  grid-area: upcoming-tasks;
}
#scratch-pad-card {
  grid-area: scratch-pad;
}
#open-projects-card {
  grid-area: open-projects;
}

#task-request-item-container {
  overflow: auto;
}
